@using WijDelen.Reports.ViewModels
@model DashboardViewModel

@{
    Layout.Title = T("Reports").ToString();

#if DEBUG
    Style.Include("WijDelen.Reports.Styles.css");
#else
    Style.Include("WijDelen.Reports.Styles.min.css");
#endif
}

<div class="row">
    <div class="column column-33 reports-summarytotal">
        <h2>@T("Total users")</h2>
        <strong>@Model.TotalUsers</strong>
    </div>
    <div class="column column-33 reports-summarytotal">
        <h2>@T("Total groups")</h2>
        <strong>@Model.TotalGroups</strong>
    </div>
    <div class="column column-34 reports-summarytotal-last">
        <h2>@T("Total requests")</h2>
        <strong>@Model.TotalObjectRequests</strong>
    </div>
</div>

<div class="row">
    <div class="column column-50">
        <table class="reports-numbers">
            <thead>
            <tr>
                <th></th>
                <th>@Model.ThisMonth.ToString("MM/yyyy")</th>
                <th>@Model.PreviousMonth.ToString("MM/yyyy")</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="reports-numbersitem">@T("Requests"):</td>
                <td>@Model.ThisMonthSummary.ObjectRequestCount</td>
                <td>@Model.PreviousMonthSummary.ObjectRequestCount</td>
            </tr>
            <tr>
                <td class="reports-numbersitem">@T("Mails"):</td>
                <td>@Model.ThisMonthSummary.MailCount</td>
                <td>@Model.PreviousMonthSummary.MailCount</td>
            </tr>
            <tr>
                <td class="reports-numbersitem">@T("Yes"):</td>
                <td>@Model.ThisMonthSummary.YesCount</td>
                <td>@Model.PreviousMonthSummary.YesCount</td>
            </tr>
            <tr>
                <td class="reports-numbersitem">@T("No"):</td>
                <td>@Model.ThisMonthSummary.NoCount</td>
                <td>@Model.PreviousMonthSummary.NoCount</td>
            </tr>
            <tr>
                <td class="reports-numbersitem">@T("Not Now"):</td>
                <td>@Model.ThisMonthSummary.NotNowCount</td>
                <td>@Model.PreviousMonthSummary.NotNowCount</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="column column-40">
        <h2>@Model.ThisMonth.ToString("MM/yyyy")</h2>
        @if (Model.GroupMonthSummaries.Any()) {
            <table class="reports-groupmonth">
                <thead>
                <tr>
                    <th>@T("Group")</th>
                    <th>@T("Requests")</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var first = Model.GroupMonthSummaries.First();
                    <tr>
                        <td class="reports-groupmonthname">@first.GroupName</td>
                        <td>
                            <div class="reports-groupmonthvalue" style="width: 100%;"></div>
                        </td>
                    </tr>

                    for (var i = 1; i < Model.GroupMonthSummaries.Count; i++) {
                        var width = 100*Model.GroupMonthSummaries[i].ObjectRequestCount/Model.GroupMonthSummaries[0].ObjectRequestCount;
                        <tr>
                            <td class="reports-groupmonthname">@Model.GroupMonthSummaries[i].GroupName</td>
                            <td>
                                <div class="reports-groupmonthvalue" style="width: @(width)%"></div>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        }
        else {
            <div class="reports-nodata">
                @T("Boink! There aren't any groups with valuable data yet.")
            </div>
        }
    </div>
</div>