@using WijDelen.Reports.ViewModels
@model DashboardViewModel

@{
    Layout.Title = T("Reports").ToString();

#if DEBUG
    Style.Include("Styles.css");
#else
    Style.Include("Styles.min.css");
#endif
}

<div class="row">
    <div class="column column-33">
        <h2>@T("Total users")</h2>
        <strong>@Model.TotalUsers</strong>
    </div>
    <div class="column column-33">
        <h2>@T("Total groups")</h2>
        <strong>@Model.TotalGroups</strong>
    </div>
    <div class="column column-34">
        <h2>@T("Total requests")</h2>
        <strong>@Model.TotalObjectRequests</strong>
    </div>
</div>

<div class="row">
</div>