@model WijDelen.Reports.ViewModels.RequestsViewModel

@{
    Layout.Title = T("Requests").ToString();

    #if DEBUG
    Style.Include("WijDelen.Reports.Styles.css");
    #else
    Style.Include("WijDelen.Reports.Styles.min.css");
#endif

    Style.Require("jQueryCalendars_Picker");
    Style.Require("jQueryTimeEntry");
    Style.Require("jQueryDateTimeEditor");

    Script.Require("jQueryCalendars_Picker").AtFoot();
    Script.Require("jQueryTimeEntry").AtFoot();
}

<div class="row">
    <div class="column">
        @using (Html.BeginFormAntiForgeryPost(Url.Action("Requests", "Admin", new {Area = "WijDelen.Reports"}), FormMethod.Get)) {
            @Html.ValidationSummary()

            @Html.LabelFor(x => x.StartDate, T("Group").Text, new {@class = "reportsdetails-label reportsdetails-label-first"})
            @Html.DropDownListFor(x => x.SelectedGroupId, new SelectList(Model.Groups, "Id", "Name"))

            @Html.LabelFor(x => x.StartDate, T("From").Text, new {@class = "reportsdetails-label"})
            @Html.TextBoxFor(m => m.StartDate, "{0:d/MM/yyyy}", new {@class = "text", id = "reportsdetails-startdate"})

            @Html.LabelFor(x => x.StopDate, T("To").Text, new {@class = "reportsdetails-label"})

            @Html.TextBoxFor(m => m.StopDate, "{0:d/MM/yyyy}", new {@class = "text", id = "reportsdetails-stopdate"})

            <button type="submit">@T("Apply")</button>
        }
        
        <a id="exportToExcelLink">Export to Excel</a>
    </div>
</div>

<div class="row">
    <div class="column">
        @if (!Model.Details.Any()) {
            <div class="reports-nodata">
                @T("There is not data to display.")
            </div>
        }
        
        <div id="requestsreport">
            <table class="reports-numbers">
                <thead>
                    <tr>
                        <th>@T("Created")</th>
                        <th>@T("Group")</th>
                        <th>@T("Email")</th>
                        <th>@T("Description")</th>
                        <th>@T("Mails")</th>
                        <th>@T("Yes")</th>
                        <th>@T("No")</th>
                        <th>@T("Not Now")</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var detailsViewModel in Model.Details)
                        {
                            <tr>
                                <td>@detailsViewModel.CreatedDateTime</td>
                                <td>@detailsViewModel.GroupName</td>
                                <td>@detailsViewModel.Email</td>
                                <td>@detailsViewModel.Description</td>
                                <td>@detailsViewModel.MailCount</td>
                                <td>@detailsViewModel.YesCount</td>
                                <td>@detailsViewModel.NoCount</td>
                                <td>@detailsViewModel.NotNowCount</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@using (Script.Foot()) {
    @Display.CalendarsPickerLocalization()

    <script type="text/javascript">
        $(function() {
            var calendarPickerOptions = {
                showAnim: "",
                renderer: $.extend({},
                    $.calendarsPicker.themeRollerRenderer,
                    {
                        picker:
                            "<div {popup:start} id='ui-datepicker-div'{popup:end} class='ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all{inline:start} ui-datepicker-inline{inline:end}'><div class='ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all'>{link:prev}{link:today}{link:next}</div>{months}{popup:start}{popup:end}<div class='ui-helper-clearfix'></div></div>",
                        month:
                            "<div class='ui-datepicker-group'><div class='ui-datepicker-month ui-helper-clearfix'>{monthHeader:MM yyyy}</div><table class='ui-datepicker-calendar'><thead>{weekHeader}</thead><tbody>{weeks}</tbody></table></div>"
                    })
            };

            $("#reportsdetails-startdate").calendarsPicker(calendarPickerOptions);
            $("#reportsdetails-stopdate").calendarsPicker(calendarPickerOptions);

            $("#exportToExcelLink").click(function() {
                var dataType = 'data:application/vnd.ms-excel';
                var requestsReport = document.getElementById('requestsreport');
                var tableHtml = requestsReport.outerHTML.replace(/ /g, '%20');

                var a = document.createElement('a');
                a.href = dataType + ', ' + tableHtml;
                a.download = 'exported_table_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
                a.click();
            });
        });
    </script>
}