@model WijDelen.UserImport.ViewModels.ConfirmResendUserInvitationMailViewModel

@{
    Layout.Title = T("Confirm").ToString();
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>@T("Additional information to help the recipients")</legend>
        @Display.Body_Editor(Text: Model.Text, EditorFlavor: "html")
    </fieldset>

    @Html.HiddenFor(m => m.UserId);
    @Html.HiddenFor(m => m.ReturnUrl);

    @T("Are you sure you want to resend the invitation mail to {0}?", Model.UserName)

    <fieldset>
        <button type="submit" value="@T("Yes")">@T("Yes")</button>
        <a href="@Model.ReturnUrl">@T("No")</a>
    </fieldset>
}