@model WijDelen.ObjectSharing.ViewModels.ChatViewModel

@{
    Layout.Title = T("{0} is looking for (a) {1}.", Model.RequestingUserName, Model.ObjectDescription);
}

@if (WorkContext.CurrentUser.UserName == Model.RequestingUserName) {
    <h1>@T("Your request for (a) {0}.", Model.ObjectDescription)</h1>

    <p>
        @T("{0} has (a) {1} for you.", Model.ConfirmingUserName, Model.ObjectDescription)
    </p>
}
else {
    <h1>@T("{0} is looking for (a) {1}.", Model.RequestingUserName, Model.ObjectDescription)</h1>
}

<p>
    @T("Write a message here.")
</p>

@foreach (var chatMessageViewModel in Model.Messages) {
    <p>
        <span>@chatMessageViewModel.DateTime</span> - @chatMessageViewModel.UserName<br/>
        @chatMessageViewModel.Message
    </p>
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("AddMessage", "Chat", new {Area = "WijDelen.ObjectSharing"}), FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.HiddenFor(m => m.ChatId)
    <fieldset>
        @Html.TextBoxFor(m => m.NewMessage)
        @Html.ValidationMessageFor(m => m.NewMessage)
    </fieldset>

    <button>@T("Submit")</button>
}