@model WijDelen.ObjectSharing.ViewModels.ChatViewModel

@{
    Layout.Title = T("{0} is looking for (a) {1}.", Model.RequestingUserName, Model.ObjectDescription);
}

@if (Model.Message != "") {
    <div class="message">
        @Model.Message
    </div>
}

@if (WorkContext.CurrentUser.UserName == Model.RequestingUserName) {
    <h1>@T("Your request for (a) {0}.", Model.ObjectDescription)</h1>

    <h5>
        @T("{0} has (a) {1} for you.", Model.ConfirmingUserName, Model.ObjectDescription)
    </h5>
}
else {
    <h1>@T("{0} is looking for (a) {1}.", Model.RequestingUserName, Model.ObjectDescription)</h1>
}

<div class="chat">
    @foreach (var chatMessageViewModel in Model.Messages) {
        var chatBubbleClass = "chatbubble chatbubble-otheruser";
        if (WorkContext.CurrentUser.UserName == chatMessageViewModel.UserName) {
            chatBubbleClass = "chatbubble chatbubble-currentuser";
        }

        <div class="chatmessage">
            <p class="@chatBubbleClass">
                @chatMessageViewModel.Message
            </p>
        </div>
    }
</div>

@using (Html.BeginFormAntiForgeryPost(Url.Action("AddMessage", "Chat", new {Area = "WijDelen.ObjectSharing"}), FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.HiddenFor(m => m.ChatId)
    <fieldset>
        @Html.TextBoxFor(m => m.NewMessage, new {placeholder = T("Write a message here.") })
        @Html.ValidationMessageFor(m => m.NewMessage)
    </fieldset>

    <button>@T("Submit")</button>
}