@model dynamic

@{
    Layout.Title = T("Just a few more details").ToString();
}

<p>@T("Before you can start with Peergroups, please create a password and provide us with some personal details.")</p>

@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <div>
            <label for="newPassword">@T("Password:")</label>
            @Html.Password("newPassword") 
            @Html.ValidationMessage("newPassword") 
        </div>
        <div>
            <label for="confirmPassword">@T("Confirm the password:")</label>
            @Html.Password("confirmPassword") 
            @Html.ValidationMessage("confirmPassword") 
        </div>
        <div>
            <label for="firstName">@T("First name:")</label>
            @Html.TextBox("firstName")
            @Html.ValidationMessage("firstName") 
        </div>
        <div>
            <label for="lastName">@T("Last name:")</label>
            @Html.TextBox("lastName")
            @Html.ValidationMessage("lastName") 
        </div>
        <div>
            <label for="culture">@T("Language:")</label>
            @Html.DropDownList("culture", new List<SelectListItem> {
                new SelectListItem { Text = T("Nederlands").ToString(), Value = "nl-BE" },
                new SelectListItem { Text = T("English").ToString(), Value = "en-US" },
            })
            @Html.ValidationMessage("culture")
        </div>
        <div>
            <button class="primaryAction" type="submit">@T("Start with Peergroups")</button>
        </div>
    </fieldset>
 } 