@model WijDelen.ObjectSharing.ViewModels.Admin.ObjectRequestDetailsAdminViewModel

@{
    Layout.Title = Model.Description;
}

<h2>@T("User")</h2>
@Model.FirstName @Model.LastName

<h2>@T("Group")</h2>
@Model.GroupName

<h2>@T("Description")</h2>
@Model.Description

<h2>@T("Extra Info")</h2>
@Model.ExtraInfo

<h2>@T("Status")</h2>
@Model.Status

@if (Model.ForbiddenWords.Any()) {
    <h2>@T("Forbidden Words")</h2>
    <ul>
        @foreach (var word in Model.ForbiddenWords) {
            <li>@word</li>
        }
    </ul>
}

<h2>@T("Created")</h2>
@Model.CreatedDateTime

<h2>@T("Block")</h2>
@using (Html.BeginFormAntiForgeryPost()) {
    if (Model.CanBlock) {
        <fieldset>
            <label for="block-reason">@T("Reason")</label>
            <textarea id="block-reason" name="blockReason">@Model.BlockReason</textarea>
        </fieldset>

        <button type="submit" name="submit.Block" value="Block">@T("Block")</button>
    }
    else if (Model.CanUnblock) {
        <h3>@T("Reason")</h3>
        <p style="white-space: pre-line">@Model.BlockReason</p>

        <button type="submit" name="submit.Unblock" value="Unblock">@T("Unblock")</button>
    }
}