@model IList<WijDelen.UserImport.Models.UserImportResult>

@{
    Layout.Title = T("Import Complete").ToString();
    
    #if DEBUG
    Style.Include("Styles.css");
#else
    Style.Include("Styles.min.css");
#endif
}

<h2>@T("Summary")</h2>
<div class="userimport-summary">
    @T("Users supplied: {0}", Model.Count)
</div>
<div class="userimport-summary">
    @T("Imported: {0}", Model.Count(x => x.WasImported))
</div>
<div class="userimport-summary">
    @T("Failed to import: {0}", Model.Count(x => !x.WasImported))
</div>

<h2>@T("Details")</h2>

<h3>@T("The following users were imported:")</h3>
<ul class="userimport-results">
    @foreach (var result in Model.Where(x => x.WasImported)) {
        <li>@result.Email</li>
    }
</ul>

<h3>@T("The following users were not imported:")</h3>
<ul class="userimport-results">
    @foreach (var result in Model.Where(x => !x.WasImported)) {
        <li>
            @result.Email &nbsp;
            <ul class="userimport-results-messages">
                @foreach (var message in result.ErrorMessages) {
                    <li>@message</li>
                }
            </ul>
        </li>
    }
</ul>