@using WijDelen.UserImport.ViewModels
@model WijDelen.UserImport.ViewModels.AdminIndexViewModel

@{
    Layout.Title = T("Import Users").ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Admin", new {Area = "WijDelen.UserImport"}), FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>@T("User File")</legend>
        @Html.LabelFor(m => m.UserEmails, T("Please use one line with exactly one valid email address per user to import."))
        @Html.TextAreaFor(m => m.UserEmails)
    </fieldset>

    <fieldset>
        <legend>@T("Group")</legend>
        @Html.DropDownListFor(m => m.SelectedGroupId, new SelectList(Model.Groups, "Id", "Name"))
    </fieldset>

    <button class="primaryAction">@T("Submit")</button>
}