@using WijDelen.UserImport.ViewModels
@model WijDelen.UserImport.ViewModels.AdminIndexViewModel

@{
    Layout.Title = T("Import Users").ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Admin", new {Area = "WijDelen.UserImport"}), FormMethod.Post, new {enctype = "multipart/form-data"})) {
    <fieldset>
        <legend>@T("User File")</legend>
        @Html.LabelFor(m => m.File, T("Please use a CSV file with two columns: username and email"))
        @Html.TextBoxFor(m => m.File, new {type="file"})
    </fieldset>

    <fieldset>
        <legend>@T("Group")</legend>
        <span class="hint">@T("Specify a new group or choose an existing one.")</span>
        
        @Html.RadioButtonFor(m => m.UserImportLinkMode, UserImportLinkMode.New, new {id="newGroup", name="group"})
        <label for="newGroup" class="forcheckbox">@T("New")</label>
        @Html.TextBoxFor(m => m.NewGroupName, new {class="text"})<br/>

        @Html.RadioButtonFor(m => m.UserImportLinkMode, UserImportLinkMode.Existing, new {id="existingGroup", name="group"})
        <label for="existingGroup" class="forcheckbox">@T("Existing")</label> 
        @Html.DropDownListFor(m => m.SelectedGroupId, new SelectList(Model.Groups, "Id", "Name"))
    </fieldset>

    <button class="primaryAction">@T("Submit")</button>
}