@model WijDelen.UserImport.ViewModels.UserDetailsViewModel

@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Account", new { Area = "WijDelen.UserImport" }), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>@T("First name")</legend>
        @Html.TextBoxFor(m => m.FirstName, new { data_auto_complete = "true" })
        @Html.ValidationMessageFor(m => m.FirstName)

        <legend>@T("Last Name")</legend>
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
        
        <legend>@T("Language")</legend>
        @Html.DropDownListFor(model => model.Culture, new List<SelectListItem> {
            new SelectListItem { Text = T("Nederlands").ToString(), Value = "nl-BE" },
            new SelectListItem { Text = T("English").ToString(), Value = "en-US" },
        })
        @Html.ValidationMessageFor(m => m.Culture)
        
    </fieldset>

    <button class="primaryAction">@T("Save")</button>
}