@using WijDelen.ObjectSharing.ViewModels
@model WijDelen.ObjectSharing.ViewModels.Feed.IndexViewModel

@{
    Layout.Title = T("My Feed");
}

@if (Model.ObjectRequests.Any()) {
    <ol class="feedlist">
        @foreach (var objectRequestRecord in Model.ObjectRequests) {
            <li>
                <div class="row">
                    <div class="column">
                        <h5>@T("{0} is looking for (a)", objectRequestRecord.UserName)</h5>
                        <h4>@objectRequestRecord.Description</h4>
                    </div>
                </div>
                @if (objectRequestRecord.ChatCount > 0) {
                    <div class="row">
                        <div class="column">
                            <p>
                                @if (objectRequestRecord.ChatCount == 1) {
                                    @T("One person reacted to this request.", objectRequestRecord.ChatCount)
                                }
                                else if (objectRequestRecord.ChatCount > 1) {
                                    @T("{0} people reacted to this request.", objectRequestRecord.ChatCount)
                                }
                            </p>
                        </div>
                    </div>
                }
            </li>
        }
    </ol>
}
else {
    <p>
        @T("You don't have any open received requests. Why not send out a request in your group? Fill in the fields below to get started.")
    </p>

    Html.RenderPartial("NewObjectRequest", new NewObjectRequestViewModel());
}