@using WijDelen.ObjectSharing.ViewModels
@using ChatMessageViewModel = WijDelen.ObjectSharing.ViewModels.Feed.ChatMessageViewModel
@using ObjectRequestViewModel = WijDelen.ObjectSharing.ViewModels.Feed.ObjectRequestViewModel
@model WijDelen.ObjectSharing.ViewModels.Feed.IndexViewModel

@{
    Layout.Title = T("My Feed");
}

@if (Model.Items.Any()) {
    <ol class="feedlist">
        @foreach (var item in Model.Items) {
            <li>
                @{
                    var objectRequestViewModel = item as ObjectRequestViewModel;
                    var chatMessageViewModel = item as ChatMessageViewModel;
                }

                @if (objectRequestViewModel != null) {
                    <div class="row">
                        <div class="column">
                            <h5>@T("{0} is looking for (a)", objectRequestViewModel.UserName)</h5>
                            <h4>@objectRequestViewModel.Description</h4>
                            <p>@objectRequestViewModel.ExtraInfo</p>
                        </div>
                    </div>
                    if (objectRequestViewModel.ChatCount > 0) {
                        <div class="row">
                            <div class="column">
                                <p>
                                    @if (objectRequestViewModel.ChatCount == 1) {
                                        @T("One person reacted to this request.", objectRequestViewModel.ChatCount)
                                    }
                                    else if (objectRequestViewModel.ChatCount > 1) {
                                        @T("{0} people reacted to this request.", objectRequestViewModel.ChatCount)
                                    }
                                </p>
                            </div>
                        </div>
                    }
                    if (objectRequestViewModel.CurrentUsersResponse.HasValue) {
                        <div class="row">
                            <div class="column">
                                @T("You have already replied to this request.") @*@Html.ActionLink(T("See messages"), "Index", "Chat", new {id = }, new {})*@
                            </div>
                        </div>
                    }
                    else {
                        <div class="row">
                            <div class="column">
                                @Html.ActionLink(T("Yes, I own this"), "Confirm", new {area = "WijDelen.ObjectSharing", controller = "ObjectRequestResponse", id = objectRequestViewModel.ObjectRequestId}, new {@class = "objectrequestanswer objectrequestanswer-yes button button-small"})
                            </div>
                            <div class="column">
                                @Html.ActionLink(T("Not right now"), "DenyForNow", new {area = "WijDelen.ObjectSharing", controller = "ObjectRequestResponse", id = objectRequestViewModel.ObjectRequestId}, new {@class = "objectrequestanswer objectrequestanswer-notnow button button-small"})
                            </div>
                            <div class="column">
                                @Html.ActionLink(T("No, I do not own this"), "Deny", new {area = "WijDelen.ObjectSharing", controller = "ObjectRequestResponse", id = objectRequestViewModel.ObjectRequestId}, new {@class = "objectrequestanswer objectrequestanswer-no button button-small"})
                            </div>
                        </div>
                    }
                }
                else if (chatMessageViewModel != null) {
                    <div class="row">
                        <div class="column">
                            <h5>@T("{0} left you a message about (a) {1}", chatMessageViewModel.UserName, chatMessageViewModel.Description)</h5>
                            @Html.ActionLink(T("Reply"), "Index", "Chat", new {id = chatMessageViewModel.ChatId}, new {@class = "button button-small"})
                        </div>
                    </div>
                }
            </li>
        }
    </ol>
}
else {
    <p>
        @T("You don't have any open received requests. Why not send out a request in your group? Fill in the fields below to get started.")
    </p>

    Html.RenderPartial("NewObjectRequest", new NewObjectRequestViewModel());
}