@model WijDelen.ObjectSharing.ViewModels.NewObjectRequestViewModel

@{
    Layout.Title = T("Request object").ToString();
}

<h1>@T("Request object")</h1>

@using (Html.BeginFormAntiForgeryPost(Url.Action("New", "ObjectRequest", new { Area = "WijDelen.ObjectSharing" }), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>@T("I would like to borrow the following item")</legend>
        @Html.TextBoxFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </fieldset>

    <fieldset>
        <legend>@T("A nice story to convice the group members")</legend>
        @Html.TextAreaFor(m => m.ExtraInfo)
        @Html.ValidationMessageFor(m => m.ExtraInfo)
    </fieldset>

    <button class="primaryAction">@T("Submit")</button>
}