@using Orchard.Mvc.Extensions
<html>
<body style="font-family: Verdana, Arial, sans-serif;">
<div style="background-color: #04b17b; padding: 0 10px;">
    <img src="https://peergroups.be/Themes/Peergroups.Theme/Content/logo-mail.gif" style="vertical-align: middle;">
    <img src="@Model.GroupLogoUrl" style="height: 35px; margin-left: 10px; vertical-align: middle;">
</div>
<div style="margin-top: 10px;">
    <p>@T("Hello")</p>
    <p>@T("The following request was made by {0}.", Model.RequestingUserName)</p>
</div>
<div style="background-color: #f5f5f5; border: 1px solid #bbb; border-radius: 5px; padding: 10px;">
    <strong>@T("Description:")</strong>
    <p>@Model.Description</p>
    
    <strong>@T("Extra info:")</strong>
    <p style="white-space: pre-line">@Model.ExtraInfo</p>
</div>
</body>
</html>