<html>
<body style="font-family: Verdana, Arial, sans-serif;">
<div style="background-color: #04b17b; padding: 0 10px;">
    <img src="https://peergroups.be/Themes/Peergroups.Theme/Content/logo-mail.gif" style="vertical-align: middle;">
    <img src="@Model.GroupLogoUrl" style="height: 35px; margin-left: 10px; vertical-align: middle;">
</div>
<div style="margin-top: 10px;">
    <p>@T("Hello")</p>
    <p>@T("{0} from the group {1} sent you a message:", Model.RequestingUserName, Model.GroupName)</p>
</div>
<div style="background-color: #f5f5f5; border: 1px solid #bbb; border-radius: 5px; padding: 10px;">
    <p>@T("I'm looking for (a) {0}.", Model.Description)</p>
    <p>@T("What do I need it for?")</p>
    <p>@Model.ExtraInfo</p>
    <p>@T("Can you lend me this?")</p>
</div>
<div>
    <p style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
        <a href="@Model.YesLink" style="background-color: #46d100; border-bottom: 1px solid #216400; border-radius: 5px; border-right: 1px solid #216400; color: #fff; margin-right: 10px; padding: 10px; text-decoration: none;">@T("Yes, I own that")</a>
        <a href="@Model.NotNowLink" style="background-color: #a0a0a0; border-bottom: 1px solid #646464; border-radius: 5px; border-right: 1px solid #646464; color: #fff; padding: 10px; text-decoration: none;">@T("Not right now")</a>
        <a href="@Model.NoLink" style="background-color: #df0000; border-bottom: 1px solid #630000; border-radius: 5px; border-right: 1px solid #630000; color: #fff; margin-left: 10px; padding: 10px; text-decoration: none;">@T("No, I don't own that")</a>
    </p>
</div>
<div>
    <p style="font-size: 10px;">
        <a href="@Model.UnsubscribeUrl">@T("Unsubscribe")</a>
    </p>
</div>
</body>
</html>