@model WijDelen.ObjectSharing.ViewModels.Admin.ObjectRequestAdminViewModel

@{
    var index = 0;

    Layout.Title = T("Blocked Requests");
}

@if (Model.ObjectRequestsCount == 0) {
    <span>@T("There are currently no blocked requests")</span>
}
else {
    using (Html.BeginFormAntiForgeryPost()) {
        <fieldset class="bulk-actions">
            <div class="manage">
                <button type="submit" name="submit.Unblock" value="@T("Unblock")">@T("Unblock")</button>
            </div>
        </fieldset>

        <fielset>
            <table class="items">
                <thead>
                <tr>
                    <th></th>
                    <th>@T("Group")</th>
                    <th>@T("Description")</th>
                    <th>@T("Status")</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var record in Model.ObjectRequests) {
                    <tr>
                        <td>
                            <input type="hidden" value="@Model.ObjectRequests[index].AggregateId" name="@Html.NameOf(m => m.ObjectRequests[index].AggregateId)"/>
                            <input type="checkbox" value="true" name="@Html.NameOf(m => m.ObjectRequests[index].IsSelected)"/>
                        </td>
                        <td>@record.GroupName</td>
                        <td>@record.Description</td>
                        <td>@record.Status</td>
                    </tr>

                    index++;
                }
                </tbody>
            </table>
        </fielset>
    }
}

<div class="pager-footer">
    <ul class="pager">
        @if (Model.HasPreviousPage) {
            <li>
                @Html.ActionLink("<", "Index", new {page = Model.Page - 1})
            </li>
        }

        @for (var i = 1; i <= Model.TotalPages; i++) {
            <li>
                @if (Model.Page == i) {
                    <span>@i</span>
                }
                else {
                    @Html.ActionLink(i.ToString(), "Index", new {page = i})
                }
            </li>
        }

        @if (Model.HasNextPage) {
            <li>
                @Html.ActionLink(">", "Index", new {page = Model.Page + 1})
            </li>
        }
    </ul>
</div>