@using Orchard.ContentManagement;
@using Orchard.MediaLibrary.Fields;
@using WijDelen.UserImport.Models;

<nav>
    <div class="nav-row">
        <div class="nav-left">
            <div class="nav-left-top">
                <div class="nav-left-top-part">
                    <h1>@Display(Model.Title)</h1>
                </div>
                <div class="nav-left-top-part">
                    @Display(New.User())
                </div>
            </div>
        </div>
        <div class="nav-right nav-right-top">
            @{
                var homeUrl = Url.Content("~/");
            }
            

            @if (WorkContext.CurrentUser != null) {
                homeUrl = Url.Action("Index", "ReceivedObjectRequest", new { Area = "WijDelen.ObjectSharing" });
            }

            <a href="@homeUrl" class="logo-link">
                <img src="@Url.Content("~/Themes/Peergroups.Theme/Content/logo-header.png")" alt="@T("Peergroups")" title="@T("Peergroups")"/>

                @if (WorkContext.CurrentUser != null) {
                    var user = WorkContext.CurrentUser;
                    var groupMembership = user.As<GroupMembershipPart>();
                    var group = groupMembership.Group;
                    var groupLogoPart = group.ContentItem.Parts.Single(x => x.PartDefinition.Name == "GroupLogoPart");
                    var groupLogoField = groupLogoPart.Fields.Single(x => x.FieldDefinition.Name == "MediaLibraryPickerField") as MediaLibraryPickerField;

                    if (!string.IsNullOrEmpty(groupLogoField.FirstMediaUrl)) {
                        <img src="@groupLogoField.FirstMediaUrl" alt="@(group.As<NamePart>().Name)" title="@(group.As<NamePart>().Name)" class="grouplogo-img"/>
                    }
                }
            </a>
        </div>
    </div>
    <div class="nav-row">
        <div class="nav-left">
            
        </div>
        <div class="nav-right nav-objectrequests">
            @if (Request.IsAuthenticated) {
                @Html.ActionLink(T("New Request").ToString(), "New", new { Controller = "ObjectRequest", Area = "WijDelen.ObjectSharing" }, new { });
                @Html.ActionLink(T("My Requests").ToString(), "Index", new { Controller = "ObjectRequest", Area = "WijDelen.ObjectSharing" }, new { });
                @Html.ActionLink(T("Received Requests").ToString(), "Index", new { Controller = "ReceivedObjectRequest", Area = "WijDelen.ObjectSharing" }, new { });
            }
        </div>
    </div>
</nav>