<nav class="nav-mobile">
    <div class="nav-row-mobile">
        <div class="nav-left-mobile">
            <h1>@Display(Model.Title)</h1>
        </div>
        <div class="nav-right-mobile">
            @Html.Raw("<a href=\"#popover-menu-mobile\" data-popover class=\"nav-menu-mobile\">" + T("Menu") + "</a>")
        </div>
        <span id="popover-menu-mobile" class="popover popover-menu-mobile">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink(T("New Request").ToString(), "New", new { Controller = "ObjectRequest", Area = "WijDelen.ObjectSharing" }, new { });
                @Html.ActionLink(T("My Requests").ToString(), "Index", new { Controller = "ObjectRequest", Area = "WijDelen.ObjectSharing" }, new { });
                @Html.ActionLink(T("Received Requests").ToString(), "Index", new { Controller = "ReceivedObjectRequest", Area = "WijDelen.ObjectSharing" }, new { });
            }
            @Display(New.User())
        </span>
    </div>
</nav>