@using Orchard.Security

@if (WorkContext.CurrentUser != null) {
    @Html.ActionLink(T("Account").ToString(), "Index", new {Area = "WijDelen.UserImport", Controller = "Account"})
    @Html.ActionLink(T("Change Password").ToString(), "ChangePassword", new {Area = "Orchard.Users", Controller = "Account"})
    if (AuthorizedFor(StandardPermissions.AccessAdminPanel)) {
        @Html.ActionLink(T("Dashboard").ToString(), "Index", new {Area = "Dashboard", Controller = "Admin"})
    }
    @Html.ActionLink(T("Sign Out").ToString(), "LogOff", new {Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl}, new {rel = "nofollow"})
}
else {
    <span class="user-actions">@Html.ActionLink(T("Sign In").ToString(), "LogOn", new {Controller = "Account", Area = "Orchard.Users", ReturnUrl = Request.QueryString["ReturnUrl"] ?? Request.RawUrl}, new {rel = "nofollow"})</span>
}