@model WijDelen.UserImport.Models.UserDetailsPart

<fieldset>
    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Culture)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Culture, new List<SelectListItem> {
            new SelectListItem { Text = T("Nederlands").ToString(), Value = "nl-BE" },
            new SelectListItem { Text = T("English").ToString(), Value = "en-US" },
        })
        @Html.ValidationMessageFor(model => model.Culture)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.ReceiveMails)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(m => m.ReceiveMails)
        @Html.ValidationMessageFor(model => model.ReceiveMails)
    </div>
</fieldset>